<!-- Start page content -->
<section id="page-content" class="page-wrapper">
    <!-- Start contact message area -->
    <div class="zm-section bg-white pt-60">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="section-title-2 mb-40  text-center">
                        <h3 class="inline-block uppercase">Login</h3>
                    </div>
                </div>
            </div>
            <div class="message-box">
                
                <%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
                
                 <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin: 20px auto; float: none;">
                        <%= f.text_field :username, placeholder: "Username", autofocus: true %>
                        <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>
                        <%= link_to 'Forgot password?', new_password_reset_path, class: "zm-forget" %> 
                        <button class="submit-button" type="submit">Login</button>
                    </div>
                </div>
                <% end %>
                <p class="form-message"></p>
                
            </div>
        </div>
    </div>
    <!-- End contact message area -->
</section>
<!-- End page content -->