<!-- Start page content -->
<section id="page-content" class="page-wrapper">
    <!-- Start contact message area -->
    <div class="zm-section bg-white pt-60">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="section-title-2 mb-40  text-center">
                        <h3 class="inline-block uppercase">Reset Your Password</h3>
                    </div>
                </div>
            </div>
            <div class="message-box">
                
                <%= form_tag password_resets_path do %>
                
                     <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12" style="margin: 0 auto; float: none;">
                            
                            <%= text_field_tag :email, nil, placeholder: 'Email*'  %>
                            <button class="submit-button" type="submit">Reset Password</button>
                        </div>
                    </div>
                    
                <% end %>
                <p class="form-messege"></p>
                
            </div>
        </div>
    </div>
    <!-- End contact message area -->
</section>
<!-- End page content -->




<!--<h4>Reset Your Password</h4>-->

<!--<div class='row'>-->
<!--    <div class='col-xs-12'>-->
<!--        <-%= form_tag password_resets_path do %>-->
<!--            <div class="row">-->
<!--                <div class="col-md-6">-->
<!--                    <div class="form-group">-->
<!--                        <div class="control-label col-sm-2">-->
<!--                            <-%= label_tag :email %>-->
<!--                        </div>-->
<!--                        <div class="col-sm-8">-->
<!--                            <-%= text_field_tag :email %>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-md-6">-->
<!--                    <div class="form-group">-->
<!--                        <div class="col-sm-offset-2 col-sm-10">-->
<!--                            <-%= submit_tag "Reset Password" %>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        <-% end %>-->
<!--    </div>-->
<!--</div>-->