/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
.article-create {color: #7c8c99;}
.float-right {float: right;}
.mb-15 {margin-bottom: 15px;}
.min-height-auto {min-height: auto;}
.footer-image { max-width: 660px; margin: 0 auto;}
.logo {max-width: 660px; margin: 0 auto;}
.article-link{cursor:pointer;color:#2ab081;}
#mobile-sticky-header{display:none;}
#mobile-sticky-logo{width:90px;height:auto;display:none;}
article,
aside,
footer,
header,
nav{display:block;}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
a{background:transparent;}
a:focus{outline:thin dotted;}
a:active,
a:hover{outline:0;}
button,
input{margin:0;font-family:inherit;font-size:100%;}
button,
input{line-height:normal;}
button{text-transform:none;}
button{cursor:pointer;-webkit-appearance:button;}
button::-moz-focus-inner,
input::-moz-focus-inner{padding:0;border:0;}
@media print{*{color:#000;text-shadow:none;background:transparent;box-shadow:none;}
a,
a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
p,
h2{orphans:3;widows:3;}
h2{page-break-after:avoid;}
}
*,
*:before,
*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html{font-size:62.5%;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
body{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;line-height:1.428571429;color:#333333;background-color:#ffffff;}
input,
button{font-family:inherit;font-size:inherit;line-height:inherit;}
a{color:#428bca;text-decoration:none;}
a:hover,
a:focus{color:#2a6496;text-decoration:underline;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
h2,
.h2,
.h6{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:500;line-height:1.1;color:inherit;}
h2{margin-top:20px;margin-bottom:10px;}
h2,
.h2{font-size:30px;}
.h6{font-size:12px;}
p{margin:0 0 10px;}
.text-right{text-align:right;}
ul{margin-top:0;margin-bottom:10px;}
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
.container:before,
.container:after{display:table;content:" ";}
.container:after{clear:both;}
.container:before,
.container:after{display:table;content:" ";}
.container:after{clear:both;}
@media (min-width:768px){.container{width:750px;}
}
@media (min-width:992px){.container{width:970px;}
}
@media (min-width:1200px){.container{width:1170px;}
}
.row{margin-right:-15px;margin-left:-15px;}
.row:before,
.row:after{display:table;content:" ";}
.row:after{clear:both;}
.row:before,
.row:after{display:table;content:" ";}
.row:after{clear:both;}
.col-md-4,
.col-lg-4,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-sm-6,
.col-md-6,
.col-md-7,
.col-lg-7,
.col-md-8,
.col-lg-8,
.col-md-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
.col-xs-12{float:left;}
.col-xs-12{width:100%;}
@media (min-width:768px){.col-sm-5,
.col-sm-6,
.col-sm-12{float:left;}
.col-sm-12{width:100%;}
.col-sm-6{width:50%;}
.col-sm-5{width:41.66666666666667%;}
}
@media (min-width:992px){.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-11,
.col-md-12{float:left;}
.col-md-12{width:100%;}
.col-md-11{width:91.66666666666666%;}
.col-md-8{width:66.66666666666666%;}
.col-md-7{width:58.333333333333336%;}
.col-md-6{width:50%;}
.col-md-5{width:41.66666666666667%;}
.col-md-4{width:33.33333333333333%;}
}
@media (min-width:1200px){.col-lg-4,
.col-lg-5,
.col-lg-7,
.col-lg-8,
.col-lg-12{float:left;}
.col-lg-12{width:100%;}
.col-lg-8{width:66.66666666666666%;}
.col-lg-7{width:58.333333333333336%;}
.col-lg-5{width:41.66666666666667%;}
.col-lg-4{width:33.33333333333333%;}
}
.form-control{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.428571429;color:#555555;vertical-align:middle;background-color:#ffffff;background-image:none;border:1px solid #cccccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;}
.form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);}
.form-control:-moz-placeholder{color:#999999;}
.form-control::-moz-placeholder{color:#999999;opacity:1;}
.form-control:-ms-input-placeholder{color:#999999;}
.form-control::-webkit-input-placeholder{color:#999999;}
.input-lg{height:46px;padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px;}
@font-face{font-family:'Glyphicons Halflings';src:url('../fonts/glyphicons-halflings-regular.eot');src:url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');}
.navbar-form{padding:10px 15px;margin-top:8px;margin-right:-15px;margin-bottom:8px;margin-left:-15px;border-top:1px solid transparent;border-bottom:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);}
@media (min-width:768px){.navbar-form{width:auto;padding-top:0;padding-bottom:0;margin-right:0;margin-left:0;border:0;-webkit-box-shadow:none;box-shadow:none;}
}
.clearfix:before,
.clearfix:after{display:table;content:" ";}
.clearfix:after{clear:both;}
.hidden-xs{display:block;}
@media (max-width:767px){.hidden-xs{display:none;}
}
@media (min-width:768px) and (max-width:991px){.hidden-xs.hidden-sm{display:none;}
}
.hidden-sm{display:block;}
@media (max-width:767px){.hidden-sm.hidden-xs{display:none;}
}
@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none;}
}
.hidden-md{display:block;}
@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none;}
}
@media (min-width:1200px){.hidden-md.hidden-lg{display:none;}
}
.hidden-lg{display:block;}
@media (min-width:992px) and (max-width:1199px){.hidden-lg.hidden-md{display:none;}
}
@media (min-width:1200px){.hidden-lg{display:none;}
}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav{display:block}a{background-color:transparent}a:active,a:hover{outline:0}button,input{color:inherit;font:inherit;margin:0}button{overflow:visible}button{text-transform:none}button{-webkit-appearance:button;cursor:pointer}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}
@media print{*,*:before,*:after{background:transparent;color:#000;-webkit-box-shadow:none;box-shadow:none;text-shadow:none}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}p,h2{orphans:3;widows:3}h2{page-break-after:avoid}}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}input,button{font-family:inherit;font-size:inherit;line-height:inherit}a{color:#337ab7;text-decoration:none}a:hover,a:focus{color:#23527c;text-decoration:underline}a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}h2,.h2,.h6{font-family:inherit;font-weight:500;line-height:1.1;color:inherit}h2,.h2{margin-top:20px;margin-bottom:10px}.h6{margin-top:10px;margin-bottom:10px}h2,.h2{font-size:30px}.h6{font-size:12px}p{margin:0 0 10px}.text-right{text-align:right}ul{margin-top:0;margin-bottom:10px}.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}
@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.row{margin-left:-15px;margin-right:-15px}.col-md-4, .col-lg-4, .col-sm-5, .col-md-5, .col-lg-5, .col-sm-6, .col-md-6, .col-md-7, .col-lg-7, .col-md-8, .col-lg-8, .col-md-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-xs-12{float:left}.col-xs-12{width:100%}@media (min-width:768px){.col-sm-5, .col-sm-6, .col-sm-12{float:left}.col-sm-12{width:100%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}}@media (min-width:992px){.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-11, .col-md-12{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}}@media (min-width:1200px){.col-lg-4, .col-lg-5, .col-lg-7, .col-lg-8, .col-lg-12{float:left}.col-lg-12{width:100%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}}.form-control{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s}.form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6)}.form-control::-moz-placeholder{color:#999;opacity:1}.form-control:-ms-input-placeholder{color:#999}.form-control::-webkit-input-placeholder{color:#999}.form-control::-ms-expand{border:0;background-color:transparent}.input-lg{height:46px;padding:10px 16px;font-size:18px;line-height:1.3333333;border-radius:6px}.navbar-form{margin-left:-15px;margin-right:-15px;padding:10px 15px;border-top:1px solid transparent;border-bottom:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);margin-top:8px;margin-bottom:8px}@media (min-width:768px){.navbar-form{width:auto;border:0;margin-left:0;margin-right:0;padding-top:0;padding-bottom:0;-webkit-box-shadow:none;box-shadow:none}}.clearfix:before,.clearfix:after,.container:before,.container:after,.row:before,.row:after{content:" ";display:table}.clearfix:after,.container:after,.row:after{clear:both
	
}
@media (max-width:767px){.hidden-xs{display:none}}@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none}}@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none}}@media (min-width:1200px){.hidden-lg{display:none}}
.customnavfont{font-family:'Roboto Condensed', sans-serif;font-weight:700;margin-bottom:0;}
.tagcloudpad{padding-top:50px;}
@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.5.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}
article,
aside,
footer,
header,
nav{display:block;}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
a{background:transparent;}
a:focus{outline:thin dotted;}
a:active,
a:hover{outline:0;}
button,
input{margin:0;font-family:inherit;font-size:100%;}
button,
input{line-height:normal;}
button{text-transform:none;}
button{cursor:pointer;-webkit-appearance:button;}
button::-moz-focus-inner,
input::-moz-focus-inner{padding:0;border:0;}
@media print{*{color:#000;text-shadow:none;background:transparent;box-shadow:none;}
a,
a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
p,
h2{orphans:3;widows:3;}
h2{page-break-after:avoid;}
}
*,
*:before,
*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html{font-size:62.5%;-webkit-tap-highlight-color:transparent;}
body{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;line-height:1.428571429;color:#333333;background-color:#ffffff;}
input,
button{font-family:inherit;font-size:inherit;line-height:inherit;}
a{color:#428bca;text-decoration:none;}
a:hover,
a:focus{color:#2a6496;text-decoration:underline;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
h2,
.h2,
.h6{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:500;line-height:1.1;color:inherit;}
h2{margin-top:20px;margin-bottom:10px;}
h2,
.h2{font-size:30px;}
.h6{font-size:12px;}
p{margin:0 0 10px;}
.text-right{text-align:right;}
ul{margin-top:0;margin-bottom:10px;}
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
.container:before,
.container:after{display:table;content:" ";}
.container:after{clear:both;}
.container:before,
.container:after{display:table;content:" ";}
.container:after{clear:both;}
@media (min-width:768px){.container{width:750px;}
}
@media (min-width:992px){.container{width:970px;}
}
@media (min-width:1200px){.container{width:1170px;}
}
.row{margin-right:-15px;margin-left:-15px;}
.row:before,
.row:after{display:table;content:" ";}
.row:after{clear:both;}
.row:before,
.row:after{display:table;content:" ";}
.row:after{clear:both;}
.col-md-4,
.col-lg-4,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-sm-6,
.col-md-6,
.col-md-7,
.col-lg-7,
.col-md-8,
.col-lg-8,
.col-md-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
.col-xs-12{float:left;}
.col-xs-12{width:100%;}
@media (min-width:768px){.col-sm-5,
.col-sm-6,
.col-sm-12{float:left;}
.col-sm-12{width:100%;}
.col-sm-6{width:50%;}
.col-sm-5{width:41.66666666666667%;}
}
@media (min-width:992px){.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-11,
.col-md-12{float:left;}
.col-md-12{width:100%;}
.col-md-11{width:91.66666666666666%;}
.col-md-8{width:66.66666666666666%;}
.col-md-7{width:58.333333333333336%;}
.col-md-6{width:50%;}
.col-md-5{width:41.66666666666667%;}
.col-md-4{width:33.33333333333333%;}
}
@media (min-width:1200px){.col-lg-4,
.col-lg-5,
.col-lg-7,
.col-lg-8,
.col-lg-12{float:left;}
.col-lg-12{width:100%;}
.col-lg-8{width:66.66666666666666%;}
.col-lg-7{width:58.333333333333336%;}
.col-lg-5{width:41.66666666666667%;}
.col-lg-4{width:33.33333333333333%;}
}
.form-control{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.428571429;color:#555555;vertical-align:middle;background-color:#ffffff;background-image:none;border:1px solid #cccccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;}
.form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);}
.form-control:-moz-placeholder{color:#999999;}
.form-control::-moz-placeholder{color:#999999;opacity:1;}
.form-control:-ms-input-placeholder{color:#999999;}
.form-control::-webkit-input-placeholder{color:#999999;}
.input-lg{height:46px;padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px;}
@font-face{font-family:'Glyphicons Halflings';src:url("../fonts/glyphicons-halflings-regular.eot");src:url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg");}
.navbar-form{padding:10px 15px;margin-top:8px;margin-right:-15px;margin-bottom:8px;margin-left:-15px;border-top:1px solid transparent;border-bottom:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);}
@media (min-width:768px){.navbar-form{width:auto;padding-top:0;padding-bottom:0;margin-right:0;margin-left:0;border:0;-webkit-box-shadow:none;box-shadow:none;}
}
.clearfix:before,
.clearfix:after{display:table;content:" ";}
.clearfix:after{clear:both;}
.hidden-xs{display:block;}
@media (max-width:767px){.hidden-xs{display:none;}
}
@media (min-width:768px) and (max-width:991px){.hidden-xs.hidden-sm{display:none;}
}
.hidden-sm{display:block;}
@media (max-width:767px){.hidden-sm.hidden-xs{display:none;}
}
@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none;}
}
.hidden-md{display:block;}
@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none;}
}
@media (min-width:1200px){.hidden-md.hidden-lg{display:none;}
}
.hidden-lg{display:block;}
@media (min-width:992px) and (max-width:1199px){.hidden-lg.hidden-md{display:none;}
}
@media (min-width:1200px){.hidden-lg{display:none;}
}
@media all and (min-width:1400px){.container{width:1370px;}
}
@media all and (min-width:1366px){.container{width:1350px;}
}
@media (min-width:1170px) and (max-width:1365px){.container{width:1160px;}
}
@media (min-width:992px) and (max-width:1169px){.header-mdh{height:120px;}
.primary-menu > ul > li > a{font-size:12px;padding:0 12px;}
.s-meta:first-child{margin-left:0;padding-left:0;}
.s-meta:last-child{margin-right:0;padding-right:0;}
}
@media (min-width:768px) and (max-width:991px){.header-top-menu.zm-secondary-menu{text-align:center;}
.header-top-right.text-right{margin-top:15px;text-align:center;}
.header-top-bar{padding:20px 0;}
.topbar-sblock::after{display:none;}
.header-mdh{height:110px;}
.zm-posts .zm-post-lay-a{margin-bottom:30px;}
.sidebar-warp{margin-top:20px;}
.zm-copyright{text-align:center;}
.footer-menu.zm-secondary-menu.text-right{text-align:center;}
.footer-buttom{padding:30px 0;}
.footer-buttom .container .row > div{padding:10px 0;}
}
@media (max-width:767px){.container{width:300px}
.header-top-right.text-right{margin-top:0;text-align:center;}
.header-middle-area{text-align:center;}
.header-top-menu.zm-secondary-menu{text-align:center;}
.header-top-bar{padding:20px 0;}
.topbar-sblock::after{display:none;}
.header-mdh{height:100px;}
.logo{width:70%;margin:0 auto;}
.topbar-sblock:last-child{padding-right:10px;}
.zm-post-title{font-size:20px;line-height:30px;}
.zm-posts .zm-post-lay-a{margin-bottom:30px;}
.sidebar-warp{margin-top:20px;}
.zm-copyright{text-align:center;}
.footer-menu.zm-secondary-menu.text-right{text-align:center;}
.footer-buttom{padding:30px 0;}
.footer-buttom .container .row > div{padding:10px 0;}
.zm-post-content{font-size:16px;}
.zm-posts .zm-post-lay-a2:last-child{margin-bottom:35px;}
.zm-post-meta{margin-top:0px;}
.zm-post-lay-a2 .zm-post-meta{margin-top:0px;}
}
@media only screen and (min-width:480px) and (max-width:767px){.container{width:450px}
}
form.mobile-digest-form input[type="email"]{margin:0;padding:0 5%;font-size:12px;height:35px;width:90%;}
form.mobile-digest-form button{background:#2ab081 none repeat scroll 0 0;border:medium none;color:#fff;height:95%;position:absolute;right:0;top:0;width:10%;}
@media all and (max-width:420px){form.mobile-digest-form button{width:18%;height:100%;}
}
h2,
p,
ul,
a{margin:0;padding:0;}
html{font-size:100%;}
@media all and (max-width:768px){html{font-size:87.5%;}
}
body{font-family:'Raleway', sans-serif;color:#3b5265;font-weight:400;font-size:14px;line-height:1.7rem;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
h2,
.h2,
.h6{font-family:'Roboto', sans-serif;color:#240e35;font-weight:600;font-variant-ligatures:common-ligatures;margin-top:0;margin-bottom:0;font-weight:700;}
h2, .h2{font-size:36px;}
.h6{font-size:14px;}
@media all and (max-width:767px){
h2, .h2{font-size:24px;}
.h6{font-size:16px;}
}
ul{list-style:none;}
a:hover,
a:focus,
a:active{text-decoration:none;outline:none;}
a{color:#7c8c99;}
a:hover,
a:focus,
a:active{color:#2ab081;}
.uppercase{text-transform:uppercase}
body{overflow-x:hidden;}
.inline-block{display:inline-block;width:auto;}
.global-table{display:table;height:100%;width:100%;}
.global-table .global-row{display:table-row;}
.global-table .global-row .global-cell{display:table-cell;vertical-align:middle;}
a{-webkit-transition:all 0.3s ease-out 0s;-moz-transition:all 0.3s ease-out 0s;-ms-transition:all 0.3s ease-out 0s;-o-transition:all 0.3s ease-out 0s;transition:all 0.3s ease-out 0s;}
input{-webkit-transition:all 0.5s ease-out 0s;-moz-transition:all 0.5s ease-out 0s;-ms-transition:all 0.5s ease-out 0s;-o-transition:all 0.5s ease-out 0s;transition:all 0.5s ease-out 0s;}
body{background:#fff;}
*::-moz-selection{background:#2ab081;color:#fff;text-shadow:none;}
::-moz-selection{background:#2ab081;color:#fff;text-shadow:none;}
::selection{background:#2ab081;color:#fff;text-shadow:none;}
.bg-white{background:#fff;}
.bg-white p,
.bg-white span,
.bg-white ul,
.bg-white a:not(.cat-btn){color:#3b5265;}
.bg-dark{background:#2f2f2f;}
.bg-dark span,
.bg-dark ul,
.bg-dark a:not(.btn),
.bg-dark a:not(.zm-forget){color:#c1c1c1;}
.bg-black{background:#2a2a2a;}
.bg-black p,
.bg-black ul,
.bg-black a:not(.btn){color:#c1c1c1;}
.bg-theme{background:#2ab081;}
.bg-theme ul,
.bg-theme a:not(.btn){color:#fff;}
::-moz-placeholder{color:#7c8c99;}
.mb-15{margin-bottom:15px}
.mb-40{margin-bottom:40px}
.ptb-10{padding:10px 0}
.ptb-15{padding:15px 0}
.ptb-20{padding:20px 0}
.ptb-40{padding:40px 0}
.ptb-70{padding:70px 0}
.mtb-40{margin:40px 0}
@media (min-width:768px) and (max-width:991px){
.sm-mt-50{margin-top:50px}
}
@media (max-width:767px){
.xs-mt-50{margin-top:50px}
.xs-pt-30{padding-top:30px}
}
.border-top{border-top:1px solid #e6e6e6;}
.border-bottom{border-bottom:1px solid #e6e6e6;}
input[type="text"], input[type="email"]{background:#fff none repeat scroll 0 0;border:1px solid #e6e6e6;box-shadow:none;color:#7c8c99;height:45px;margin-bottom:30px;padding-left:20px;width:100%;}
input[type="text"]:focus, input[type="email"]:focus{border-color:#2ab081;}
.footer-buttom p, .footer-buttom a{font-size:12px;}
nav.zm-secondary-menu ul li{display:inline-block;padding:0 20px;}
.zm-secondary-menu ul li a{font-size:12px;text-transform:uppercase;}
.zm-secondary-menu ul li a:hover{color:#2ab081;}
nav.zm-secondary-menu ul li:first-child{padding-left:0;}
nav.zm-secondary-menu ul li:last-child{padding-right:0;}
.header-top-right .topbar-sblock{display:inline-block;padding:0 10px;text-align:right;}
@media all and (max-width:768px){.header-top-right .topbar-sblock{padding:0;}
}
.not-on-mobile{display:inline-block;}
@media all and (max-width:490px){.not-on-mobile{display:none;}
}
.topbar-sblock:last-child{padding-right:0;}
.topbar-sblock:first-child{padding-left:0;}
.topbar-sblock{position:relative;}
.topbar-sblock::after{background:#484848 none repeat scroll 0 0;content:"";height:26px;position:absolute;right:-0.5px;top:50%;transform:translateY(-50%);width:1px;}
.header-top-right .topbar-sblock:last-child::after{display:none;}
.header-mdh{height:150px;}
.site-desc{line-height:18px;margin-top:4px;}
.primary-menu > ul > li{float:left;}
.primary-menu > ul > li > a{display:block;height:70px;line-height:70px;padding:0 20px;}
.primary-menu > ul > li:hover > a{background:#8A2A88 none repeat scroll 0 0;color:#ecf3f6;}
.search-wrap{position:relative;}
.search-wrap.mobile-search{position:absolute;top:0;width:100%;}
.user-accoint{position:relative;}
.login-btn{cursor:pointer;transition:0.3s;}
.login-btn:hover{color:#2ab081;}
.primary-menu ul li{position:relative;}
.menu-wrapper .col-md-11{position:inherit;}
.zm-post-thumb a{display:block;}
.zm-post-title{min-height:68px;}
.s-meta{margin:auto 8px;padding:0 8px;position:relative;display:inline-block;}
.s-meta:first-child{margin-left:0;padding-left:0;}
.s-meta:last-child{margin-right:0;padding-right:0;}
.s-meta::after{}
.s-meta:last-child::after{display:none;}
.zm-post-lay-single .zm-post-meta{margin-top:10px;}
.post-title h2{font-size:14px;letter-spacing:2px;line-height:16px;text-transform:uppercase;}
.post-title.mb-40{line-height:14px;}
.zm-post-lay-a2 .zm-post-meta{margin-top:10px;}
.zm-posts .zm-post-lay-a2{margin-bottom:35px;}
.zm-posts .zm-post-lay-a2:last-child{margin-bottom:0;}
.zm-posts .zm-post-lay-a2 .zm-post-title{font-size:14px;line-height:28px;height:68px;overflow:hidden;}
.zm-posts .zm-post-lay-a2 .zm-post-header{padding:15px 0 0px;}
.single-post-wrap .zm-posts .zm-post-lay-a2 .zm-post-header{padding:25px 0 0;}
.single-post-wrap .zm-post-lay-a2 .zm-post-meta{margin-top:0px;margin-bottom:10px;}
.zm-posts .zm-post-lay-a2 .zm-post-meta .s-meta{padding:0;margin:0;}
@media (max-width:767px){.zm-posts .zm-post-lay-a2 .zm-post-title{font-size:24px;line-height:34px;height:auto;overflow:visible;}
.zm-posts .zm-post-lay-a2 .zm-post-meta{margin-bottom:15px;}
}
.zm-post-title{font-size:24px;line-height:34px;}
.zm-post-header{padding:25px 0 15px;}
.sidebar .zm-post-header{padding:25px 0 0px;}
.bg-white .header-color,
.header-color{background:#8A2A88;color:#fff;}
.section-title{position:relative;z-index:1;}
.section-title::after{bottom:0;content:"";height:1px;left:0;position:absolute;width:100%;z-index:-1;}
.bg-white .section-title::after,
.section-title::after{background:#e6e6e6 none repeat scroll 0 0;}
.section-title h2{font-weight:700;height:30px;letter-spacing:2px;line-height:30px;padding:0 15px;position:relative;z-index:2;}
.zm-tagcloud a{background:#ecf3f6 none repeat scroll 0 0;color:#3b5265;display:inline-block;height:30px;margin:0 5px 10px 0;padding:1px 10px;text-transform:uppercase;}
.zm-tagcloud a:hover{background:#2ab081 none repeat scroll 0 0;color:#fff;}
.border-top{border-top:1px solid #e6e6e6;}
.border-bottom{border-bottom:1px solid #e6e6e6;}
.search-wrap.mobile-search .mobile-search-btn{background:transparent none repeat scroll 0 0;color:#fff;cursor:pointer;font-size:18px;height:52px;left:0;line-height:52px;position:absolute;text-align:center;width:50px;z-index:2147483647;top:0;}
.mobile-menu{position:relative;}
.mobile-search-form{background:#fff none repeat scroll 0 0;left:0;padding:10px;position:absolute;top:52px;width:100%;z-index:2147483647;display:none;}
.mobile-search-form form input{margin:0;padding:0 65px 0 20px;}
.mobile-search-form form button{background:#2ab081 none repeat scroll 0 0;border:medium none;color:#fff;height:45px;position:absolute;right:15px;top:0;width:45px;}
@media all and (max-width:767px){.mobile-search-form form button{top:10px;}
}
.mobile-search-form form{position:relative;}
body{font-family:'Open Sans', sans-serif;background-color:#f7f7f7;position:relative;margin:0px;font-size:12px;padding:0px;}
footer{background-color:#2c3742;box-shadow:inset 0px 0px 3px #111;color:#fff;font-size:14px;line-height:25px;bottom:0px;}
footer a{color:#eee;text-decoration:none;border-bottom:1px dotted #888;}
.footer-image a{border-bottom:none;}
.footer-image{text-align:center;}
footer a:hover{color:#aaa;text-decoration:none;border:0px;}
body{background-color:#eff0f3;}
@media (max-width:767px){.container{width:100%;}
}
@media (max-width:991px){
.sidebar{margin-bottom:30px;width:100%;float:none;position:relative;}
}