<!--
page sends the weekly digest out

#query all active digest users, put them in loop and send

#here i should query the Article records - if there are none, I shoudn't send the emails

#DigestEmail.where(active: true).each do |user|
	#WeeklyDigest.email(user).deliver	
#end

- show the articles we will be sending and a button to send it (dont send right away)

-->

<!-- Start page content -->
<section id="page-content" class="page-wrapper archive">
    <div class="zm-section single-post-wrap archive-2 bg-white ptb-15">
        <div class="container">
            <div class="row">
            	
                <!-- Start left side -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 columns">
                    <div class="row mt-40">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="zm-posts clearfix">
                                    <h3>Pressing the button below will run a script to update all article tags - the states and categories that each article relates to.
                                    It is a background process, so it may take several minutes for all articles to update</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="message-box">
		                <form id="contact-form" role="search" method="get" action = '/update_article_tags'>
		                    <div class="row">
		                        <div class="col-md-6 col-sm-6 col-xs-12" style="margin: 0 auto; float: none;">
		                            <button class="submit-button" type="submit">Run Update Tag Script</button>
		                        </div>
		                    </div>
		                </form>
		                <p class="form-messege"></p>
		            </div>
                </div>
                <!-- End left side -->
        </div>
    </div>
</section>
<!-- End page content -->