<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A New Unit needs to be added to <%= @source_name %></h1>
    
    <p>Unit: <%=@unit%></p>
    <p>Price Given: <%=@price%></p>

  </body>
</html>