<!-- Start page content -->
<section id="page-content" class="page-wrapper">
    <!-- Start contact message area -->
    <div class="zm-section bg-white pt-60">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="section-title-2 mb-40  text-center">
                        <h3 class="inline-block uppercase">Change Your Password</h3>
                    </div>
                </div>
            </div>
            <div class="message-box">
                <form action="mail.php"  id="contact-form" method="post">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12" style="margin: 0 auto; float: none;">
                        	
                        	<%= hidden_field_tag :user_id , current_user.id %>
                            <input type="password" name="old_password" placeholder="Old Password*" required="required">
                            <input type="password" name="new_password" placeholder="New Password*" required="required">
							<input type="password" name="confirm_password" placeholder="Confirm New Password*" required="required">
                            <button class="submit-button" type="submit">Change</button>
                        </div>
                    </div>
                </form>
                <p class="form-messege"></p>
            </div>
        </div>
    </div>
    <!-- End contact message area -->
</section>
<!-- End page content -->





<!--<div class = "wrap">-->
<!--	<form id="contact-form" role="password_change" method="get" action = '/submit_password_change'-->
<!--	    <div class="controls">-->
<!--	        <div class="row">-->
<!--	            <div class="col-md-6">-->
<!--	                <div class="form-group">-->
	                	
<!--	                    <label for="form_name">Old Password *</label>-->
<!--	                    <input id="form_name" type="password" name="old_password" class="form-control" required="required" data-error="Old Password is required.">-->
<!--	                    <div class="help-block with-errors"></div>-->
<!--	                </div>-->
<!--	            </div>-->
<!--	        </div>-->
<!--	        <div class="row">-->
<!--	            <div class="col-md-6">-->
<!--	                <div class="form-group">-->
<!--	                    <label for="form_email">New Password *</label>-->
<!--	                    <input id="form_email" type="password" name="new_password" class="form-control" required="required" data-error="New Password is required.">-->
<!--	                    <div class="help-block with-errors"></div>-->
<!--	                </div>-->
<!--	            </div>-->
<!--	        </div>-->
<!--	        <div class="row">-->
<!--	            <div class="col-md-6">-->
<!--	                <div class="form-group">-->
<!--	                    <label for="form_email">Confirm Password *</label>-->
<!--	                    <input id="form_email" type="password" name="confirm_password" class="form-control" required="required" data-error="New Password is required.">-->
<!--	                    <div class="help-block with-errors"></div>-->
<!--	                </div>-->
<!--	            </div>-->
<!--	        </div>-->
<!--	        <div class="row">-->
<!--	            <div class="col-md-12">-->
<!--	                <input type="submit" class="btn btn-send" value="Change Password">-->
<!--	            </div>-->
<!--	        </div>-->
<!--	    </div>-->
<!--	</form>-->
<!--</div>-->