<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>One of the Scrapers Threw an Error</h1>
    
    <p>Scraper:    <%=@scraper%>    </p>
    <p>Error Message:   <%=@error_message%>   </p>

  </body>
</html>