<style>
	@media all and (max-width: 767px) {
		.about-us-text p, .about-us-text li {
			font-size: 16px;
		}
		
		.about-us-text h4, .about-us-text h5 {
			font-size: 18px;
		}
	}
</style>

<!-- Start page content -->
<section id="page-content" class="page-wrapper">
    <!-- Start contact message area -->
    <div class="zm-section bg-white pt-60">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="section-title-2 mb-40  text-center">
                        <h3 class="inline-block uppercase">About</h3>
                    </div>
                </div>
            </div>
            <div class="message-box about-us-text">
                <form id="contact-form" role="search" method="get" action = '/submit_contact_form'>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin: 0 auto; float: none;">
                            <h4 style="padding-bottom: 5px;">What is Cannabiz Network?</h4>
                            <p>NEWS YOUR WAY! - We have taken the guess work out of your daily search for news.  
                            We provide you with the most up to date news through our fully customized news feed 
                            aggregated from the most trusted cannabis resources in the industry.</p><br/>
                            <h5 style="padding-bottom:5px;">Registered users</h5>
                            <ul style="padding-left: 20px;">
                            	<li>Customize your feed, filter by category, state or source.</li>
                            	<li>The ability to save articles for viewing later.</li>
                            	<li>Weekly digest delivered via email of trending and breaking news.</li>
                            </ul>
                            <br/>
                            <p>Cannabiz network was founded by Michael Pasanello and Steve Avon who found 
                            themselves having to visit upwards of 10 to 15 websites to get the trusted, quality 
                            data and content they needed. They saw a void in the market and Cannabiz Network was 
                            born. By bringing together content and data from sources that are already being used 
                            into one platform will save the user time and money.</p><br/>
                            <p>Cannabiz Network focuses on three things; the power of branding, aggregation, and 
                            collaboration. In doing this, the platform empowers the user by giving them the most 
                            up-to-date content available. Cannabiz Network aggregates its data from a plethera of 
                            cannabis websites and houses that data under their state-by-state & branded networks. 
                            Cannabiz Network's goal is to provide the best content all in one place from the sources 
                            that businesses and consumers already know and trust.</p>
                        </div>
                    </div>
                </form>
                <p class="form-messege"></p>
            </div>
        </div>
    </div>
    <!-- End contact message area -->
</section>
<!-- End page content -->





 







 







 



