<!-- Start page content -->
<section id="page-content" class="page-wrapper">
    <!-- Start contact message area -->
    <div class="zm-section bg-white pt-60">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="section-title-2 mb-40  text-center">
                        <h3 class="inline-block uppercase">Contact Us</h3>
                    </div>
                </div>
            </div>
            <div class="message-box">
                <form id="contact-form" role="search" method="get" action = '/submit_contact_form'>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12" style="margin: 0 auto; float: none;">
                            <input type="text" name="name" placeholder="Full Name*" required="required">
                            <input type="email" name="email" placeholder="Email Address*" required="required">
                            <textarea id="form_message" name="message" placeholder="Message*" rows="4" required="required"></textarea>
                            <button class="submit-button" type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
                <p class="form-messege"></p>
            </div>
        </div>
    </div>
    <!-- End contact message area -->
</section>
<!-- End page content -->