<!-- Start page content -->
<section id="page-content" class="page-wrapper">
    <!-- Start contact message area -->
    <div class="zm-section bg-white pt-60">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="section-title-2 mb-40  text-center">
                        <h3 class="inline-block uppercase">Shopping Cart</h3>
                    </div>
                </div>
            </div>
            <div class="message-box">
                
                <% if @cart.product_items.any? %>
                    <div style = "float: right; margin-right: 20px;">
                        <%= link_to "Empty Your Cart", cart_path(@cart), method: :delete,
    		                  data: { confirm: "Are you sure you want to empty your cart?"},
    		                  class: "btn" %>
                    </div>
                    <%= render 'carts/cart' %>
                    <div style = "float: right; margin: 20px 20px 0 0;">
                        <h5 style = "margin-botton: 10px;">Total: <%= number_to_currency @cart.total_price %> </h5>
                        <%= button_to 'Checkout', new_order_path, method: :get %>
                    </div>
                    
                <% else %>
                    <p>No Items In Cart</p>
                <% end %>

            </div>
        </div>
    </div>
</section>
<!-- End page content -->