<%= semantic_form_for [:admin, @dispensary_source], :authenticity_token => true, :multipart => true, builder: ActiveAdmin::FormBuilder do |f|
    f.inputs "Dispensary Details" do
            
        if current_admin_user.dispensary_admin_user?
            f.input :name, input_html: { disabled: true } 
        end
        
        if current_admin_user.admin?
            f.input :name
            f.input :admin_user_id, :label => 'Admin User', :as => :select, 
            :collection => AdminUser.order('email ASC').map{|u| ["#{u.email}", u.id]}
            f.input :dispensary_id, :label => 'Dispensary', :as => :select, 
                    :collection => Dispensary.order('name ASC').map{|u| ["#{u.name}", u.id]}
            f.input :source_id, :label => 'Source', :as => :select, 
                    :collection => Source.where(source_type: ['Dispensary', 'Both']).order('name ASC').
                                    map{|u| ["#{u.name}", u.id]}
            f.input :state_id, :label => 'State', :as => :select, 
                :collection => State.order('name ASC').map{|u| ["#{u.name}", u.id]}
            f.input :source_rating
            f.input :last_menu_update
        end
            
        f.input :image, :as => :file
        f.input :street
        f.input :city
        f.input :zip_code
        
        f.input :instagram
        f.input :twitter
        f.input :website
        f.input :email
        f.input :phone, label: 'Phone Number'
        f.input :min_age, label: 'Minimum Age'
            
        f.input :monday_open_time, :as => :time_picker
  		f.input :monday_close_time, :as => :time_picker
  		f.input :tuesday_open_time, :as => :time_picker
  		f.input :tuesday_close_time, :as => :time_picker
  		f.input :wednesday_open_time, :as => :time_picker
  		f.input :wednesday_close_time, :as => :time_picker
  		f.input :thursday_open_time, :as => :time_picker
  		f.input :thursday_close_time, :as => :time_picker
  		f.input :friday_open_time, :as => :time_picker
  		f.input :friday_close_time, :as => :time_picker
  		f.input :saturday_open_time, :as => :time_picker
  		f.input :sunday_open_time, :as => :time_picker
  		f.input :saturday_close_time, :as => :time_picker
  		f.input :sunday_close_time, :as => :time_picker
        
        f.action :submit, :label => ('Update Dispensary Information')
    end
end %>

  <% if current_admin_user.dispensary_admin_user? %>
    <div class="tab">
      <button class="tablinks active" id="tab1">Your Product</button>
      <button class="tablinks" id="tab2">Available Product</button>
    </div>
    <!-- Tab content -->
    <div id="yourProduct" class="tabcontent" >
     <% if @dispensary_source.dispensary_source_products.any? %>
        <h3>Your Products</h3>
        <%= render partial: 'dispensary_source_products', 
          locals: {dispensary_source_products: @dispensary_source.dispensary_source_products} %>
        <% else %>
          <p>You are not currently selling any products on here. Add some below</p>
        <% end %>
    </div>
    <div id="availableProduct" class="tabcontent" style="display: none;">
      <h3>Available Products</h3>
      <%= render partial: 'products', locals: {products: Product.featured} %>
    </div>
  <% end %>


<!--javascript needed for price popup-->
<script type="text/javascript">
    
    $(document).ready(function(){
        // Add selling price 
        $(document).on('click', ".add_to_store", function(){
            product_id = $(this).attr('product_id')
            ds_id = "<%=@dispensary_source.id %>";
            ActiveAdmin.modal_dialog("Enter Selling Price", {price: 'number'}, function(inputs) {
                $.ajax({
                    type: "POST",
                    url: "/admin/dispensary_sources/" + ds_id +"/add_to_store",
                    data: {
                        product_id: product_id,
                        price: $("input[name='price']").last().val()
                    },
                    success: function(data) {
                        window.location.reload()
                        return false;
                    },
                    error: function(data) {
                        return false;
                    }
                });
            });
        });

        $("#tab1").click(function(){
          $("#yourProduct").show();
          $("#availableProduct").hide();
          $("#tab2").removeClass('active')
          $("#tab1").addClass('active')
        });
        $("#tab2").click(function(){
          $("#tab2").addClass('active');
          $("#tab1").removeClass('active');
          $("#yourProduct").hide();
          $("#availableProduct").show();
        });


       
    });

    // Update selling price - needs to be inside bracket above
    // $(document).on('click', ".edit_price", function(){
    //   $(this).parent().parent().parent().find('span').hide();
    //   $(this).parent().parent().parent().find('div').show();
    // });
    // $(document).on('click', ".edit_cancel", function(){
    //   $(this).parent().hide();
    //   $(this).parent().parent().find('span').show();
    // });

    // $(document).on('click', ".save", function(){
    //   pstore_id = $(this).attr('pstore_id');
    //   store_id = "<=@store.id %>";
    //   price = $(this).parent().find('input').val()
    //   that = $(this);
    //   console.log("pstore_id", pstore_id)
    //   console.log("store_id", store_id)
    //   console.log("price", price)
    //   $.ajax({
    //     type: "PUT",
    //     url: "/admin/stores/"+store_id+"/update_product_store",
    //     data: {
    //       product_store_id: pstore_id,
    //       price: price
    //     },
    //     success: function(data) {
    //       window.location.reload()
    //       return false;
    //     },
    //     error: function(data) {
    //       return false;
    //     }
    //   });
    // });
</script> 