<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<style>
		@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,500,700';
		.error-middle {
			text-align: center;
			width: 95%;
			margin: 0 auto;
			height: 100%;
			font-family: 'Roboto', sans-serif;
		}
		.error-logo {
			width: 50%;
			height: auto;
			margin: 0 auto;
			padding: 50px 0;
		}
		.error-message h1 {
			font-size: 80px;
		}
		.error-message p {
			font-size: 25px;
		}
		.error-button {
			background: #8A2A88 none repeat scroll 0 0;
			border: 1px solid #8A2A88;
			border-radius: 5px;
			color: #fff;
			padding: 10px;
			width: 75px;
			margin: 0 auto;
		}
		.error-button a {
			text-decoration: none;
			color: #fff;
		}
		@media all and (max-width: 600px) {
			.error-logo {
				width: 75%;
			}
		}
	</style>
</head>
<body>
	<div class ="error-middle" style="background-image: url('<%= asset_path 'header_footer/cbz_source_banner.png' %>'); background-size: 100%">
		<div class = "error-logo">
			<%= link_to image_tag("header_footer/cbz-logo-color.svg"), root_path %>
		</div>
		<div class = "error-message">
			<%= yield %>
		</div>
		<div class = "error-button">
			<%= link_to 'Go Home',root_path %>
		</div>
	</div>
</body>